{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block links %}
<form class="d-flex" role="search">
    <input class="form-control me-2 type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card-body">
      <h5 class="card-title">{{ action }}</h5>
      <hr>
      <div class="card-text">
        <form>
          <div class="input-group">
            <span class="input-group-text">First and last name</span>
            {% if action == 'Ver cliente' %}
            <input type="text" aria-label="First name" placeholder="{{users.0.first_name}}" class="form-control" name="first_name">
            <input type="text" aria-label="Last name" placeholder="{{users.0.last_name}}" class="form-control" name="last_name">
            {% else %}
            <input type="text" aria-label="First name" value="{{users.0.first_name}}" class="form-control" name="first_name">
            <input type="text" aria-label="Last name" value="{{users.0.last_name}}" class="form-control" name="last_name">
            {% endif %}
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Email:</span>
            {% if action == 'Ver cliente' %}
            <input type="email" class="form-control" placeholder="{{ users.0.email_address }}" aria-label="email_address" aria-describedby="addon-wrapping" name="email_address">
            {% else %}
            <input type="email" class="form-control" value="{{ users.0.email_address }}" aria-label="email_address" aria-describedby="addon-wrapping" name="email_address">
            {% endif %}
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Numero de telefono</span>
            {% if action == 'Ver cliente' %}
            <input type="tel" class="form-control" placeholder="{{ users.0.phone_number }}" aria-label="phone_number" aria-describedby="addon-wrapping" name="phone_number">
            {% else %}
            <input type="tel" class="form-control" value="{{ users.0.phone_number }}" aria-label="phone_number" aria-describedby="addon-wrapping" name="phone_number">
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'clients' %}" class="btn btn-primary">Atrás</a>
        </form>
      </div>
    </div>
</div>
{% endblock %}