{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card-body">
    <h5 class="card-title">Clientes recientes</h5>
    <hr>
    <table class="table card-text">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email_address}}</td>
          <td>{{user.phone_number}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'clients' %}" class="btn btn-primary">Ver mas</a>
  </div>
  <div class="card-body mt-5">
    <h5 class="card-title">Ordenes de trabajo recientes</h5>
    <hr>
    <table class="table card-text">
      <thead>
        <tr>
          <th scope="col">Nro Trabajo</th>
          <th scope="col">Usuario</th>
          <th scope="col">Dispositivo</th>
          <th scope="col">Costo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{order.job_number}}</td>
          <td>{{order.user}}</td>
          <td>{{order.device}}</td>
          <td>{{order.cost}}</td>
          <td>{{order.description}}</td>
          <td>{{order.status_id}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'orders' %}" class="btn btn-primary">Ver mas</a>
  </div>
</div>
{% endblock %}